.personal-meta-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.personal-meta {
  flex: 1;
  display: flex;
  flex-direction: column;

  min-width: 0;
  min-height: 0;
}

router-outlet {
  display: none;
}
