.public-root {
  flex: 1;
  display: flex;
  
  flex-direction: column;
  position: relative;
}

.public {
  flex: 1;
  display: flex;
  flex-direction: column;

  min-width: 0;
  min-height: 0;
}

router-outlet {
  display: none;
}
