.app-root {
  // min-height: 100vh;
  // min-width: 100vw;
  // display: flex;
  // flex-direction: column;

  font-family: Inter, Arial, Helvetica, sans-serif;

  background-color: var(--app-bg);
  transition: background-color var(--theme-transition) ease;

  position: relative;
  isolation: isolate;
}

.app-root::before {
  content: '';
  position: absolute;
  inset: 0;

  background: url('/assets/svg/bg-edu-pattern.svg') repeat;
  background-size: 160px 160px;

  opacity: 1;
  pointer-events: none;

  z-index: -1;
}

.app {
  // flex: 1;
  // display: flex;
  // flex-direction: column;

  min-width: 0;
  min-height: 0;
  margin: 0;

  position: relative;
  z-index: 0;
}

router-outlet {
  display: none;
}
