/* ===== App Root Container ===== */
.app-root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, Helvetica, sans-serif;

  /* Pattern + theme background */
  background-color: var(--app-bg);

  // background:
  //   url('/assets/svg/bg-edu-pattern.svg') repeat,
  //   var(--app-bg);
  // background-size: 160px 160px, cover;

  transition: background-color var(--theme-transition) ease;
  position: relative;
}

.app-root::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('/assets/svg/bg-edu-pattern.svg') repeat;
  background-size: 160px 160px;
  opacity: 1;
  pointer-events: none;
}

/* ===== App Layout ===== */
.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}

/* ===== Router Outlet ===== */
router-outlet {
  display: none;
}
