.stack {
  padding: 3rem 1rem;
  color: var(--text-white);
}

.stack-header {
  text-align: center;
  max-width: 640px;
  margin: 0 auto 2rem;

  p {
    color: var(--text-muted);
  }
}

.carousel {
  position: relative;
  max-width: 520px;
  margin: 0 auto;
}

.viewport {
  overflow: hidden;
  border-radius: 20px;
}

.track {
  display: flex;
  transition: transform 420ms cubic-bezier(0.22, 1, 0.36, 1);
}

.track.no-animate {
  transition: none;
}

.card {
  min-width: 100%;
  padding: 1rem;
  background-color: var(--bg-app);
}

.card-content {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;

  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(18px) saturate(140%);
  -webkit-backdrop-filter: blur(18px) saturate(140%);

  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

img {
  width: 56px;
  height: 56px;
  border-radius: 14px;
  flex-shrink: 0;
}

.text {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

.desc {
  color: var(--text-white);
  font-size: 0.9rem;
  line-height: 1.5;
}

.label {
  color: var(--text-white);
  font-weight: 600;
}

.nav {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  background: none;
  border: none;
  font-size: 1.75rem;
  color: var(--text-muted);
  cursor: pointer;

  &:hover {
    color: var(--text-main);
  }

  &.prev {
    left: -36px;
  }

  &.next {
    right: -36px;
  }
}

@media (max-width: 480px) {
  .nav {
    display: none;
  }
} 
