.public-meta-root {
  flex: 1;
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  min-width: 100vw;

  position: relative;
}

.public-meta {
  flex: 1;
  display: flex;
  flex-direction: column;

  min-width: 0;
  min-height: 0;
}

router-outlet {
  display: none;
}
