.root-container {
  margin: auto;
  padding: auto;
}

h2, h1 {
  font-family: 'Courier New', Courier, monospace;
  color: azure;
}

p {
  font-family: 'Courier New', Courier, monospace;
  color: azure;
}
