:host {
    display: block;
    height: 100%;
}
.spin {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    100% { transform: rotate(360deg); }
}
.space-not-found {
    text-align: center;
    padding: 3rem;
    color: var(--text-muted);
}
.space-not-found i {
    font-size: 3rem;
    margin-bottom: 1rem;
    display: inline-block;
}
