/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #1a3a3f;
  --primary-soft: #244f55;

  /* DEFAULT = DARK */
  --app-bg: #2B2A2A;
}

/* Explicit Light */
html.theme-light {
  --app-bg: linear-gradient(
    160deg,
    var(--primary),
    var(--primary-soft)
  );
}

/* Explicit Dark */
html.theme-dark {
  --app-bg: #2B2A2A;
}

/* System Preference */
@media (prefers-color-scheme: light) {
  html:not(.theme-light):not(.theme-dark) {
    --app-bg: linear-gradient(
      160deg,
      var(--primary),
      var(--primary-soft)
    );
  }
}

html,
body {
  min-height: 100%;
  margin: 0;
  background: var(--app-bg);
}

/* Motion-safe fade variable */
:root {
  --theme-fade-duration: 300ms;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --theme-fade-duration: 0ms;
  }
}

/* =============== OVERLAY SCROLLBAR =============== */
/* Firefox */
html,
body,
* {
  /* Custom Scrollbar */
  .main::-webkit-scrollbar {
    width: 6px;
  }
  .main::-webkit-scrollbar-thumb {
    background-color: rgba(22, 81, 93, 0.834);
    border-radius: 3px;
  }
}

/* WebKit (Chrome, Edge, Safari) */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {  
  width: 4px;
  height: 4px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: rgba(9, 91, 108, 0.834);
  border-radius: 999px;
}

/* Hover (still subtle) */
html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background-color: (9, 91, 108, 0.834);
}

/* Custom Scrollbar */
.main::-webkit-scrollbar {
  width: 6px;
}
.main::-webkit-scrollbar-thumb {
  background-color: (9, 91, 108, 0.834);
  border-radius: 3px;
}

/* Mobile / small screens */
@media (max-width: 768px) {
  html::-webkit-scrollbar,
  body::-webkit-scrollbar,
  *::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  html::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb,
  *::-webkit-scrollbar-thumb {
    background-color: (9, 91, 108, 0.834);
  }
}
