@if (modal.modal()) {
  <div class="modal-backdrop" (click)="cancel()"></div>

  <div class="modal-wrapper" role="dialog" aria-modal="true">
    <div class="modal-card">
      <h3 class="modal-title">
        {{ modal.modal()?.title }}
      </h3>

      @switch (modal.modal()?.type) {

        @case ('custom') {
          @if (modal.modal()?.view === 'import-export') {
            <app-import-export />
          }
        }

        @default {
          <p class="modal-message">
            {{ modal.modal()?.message }}
          </p>

          <div class="modal-actions">
            @if (modal.modal()?.type === 'confirm') {
              <button class="btn secondary" (click)="cancel()">
                {{ modal.modal()?.cancelText }}
              </button>
            }

            <button class="btn primary" (click)="confirm()">
              {{ modal.modal()?.confirmText }}
            </button>
          </div>
        }

      }
    </div>
  </div>
}
