@if (modal.modal()) {
  <div class="modal-backdrop" (click)="cancel()"></div>

  <div class="modal-wrapper" role="dialog" aria-modal="true">
    <div class="modal-card">

      <!-- CLOSE BUTTON -->
      <button
        type="button"
        class="modal-close"
        aria-label="Close modal"
        (click)="cancel()"
      >
        <i class="bi bi-x-lg"></i>
      </button>

      <!-- TITLE -->
      <h3 class="modal-title">
        {{ modal.modal()?.title }}
      </h3>

      @switch (modal.modal()?.type) {

        @case ('custom') {
          @if (modal.modal()?.view === 'import') {
            <app-import/>
          }
        }

        @default {

          <!-- (info / success / warning / error) -->
          @if (modal.modal()?.notice) {
            <div
              class="modal-notice"
              [attr.data-type]="modal.modal()?.notice?.type"
            >
              <i
                class="bi"
                [ngClass]="{
                  'bi-info-circle': modal.modal()?.notice?.type === 'info',
                  'bi-check-circle': modal.modal()?.notice?.type === 'success',
                  'bi-exclamation-triangle': modal.modal()?.notice?.type === 'warning',
                  'bi-x-circle': modal.modal()?.notice?.type === 'error'
                }"
              ></i>

              <span>
                {{ modal.modal()?.notice?.message }}
              </span>
            </div>
          }

          <!-- MESSAGE -->
          <p class="modal-message">
            {{ modal.modal()?.message }}
          </p>

          <!-- ACTIONS -->
          <div class="modal-actions">
            @if (modal.modal()?.type === 'confirm') {
              <button class="btn secondary" (click)="cancel()">
                {{ modal.modal()?.cancelText }}
              </button>
            }

            <button class="btn primary" (click)="confirm()">
              {{ modal.modal()?.confirmText }}
            </button>
          </div>
        }

      }
    </div>
  </div>
}
